.menu-bg{
    background-color: #000324;
    padding: 15px 0 !important;
}
#basic-navbar-nav a{
    color: #fff !important;
    padding: 0 30px;
    font-size: 16px;
    font-family: "Urbanist", serif;
    font-weight: 600;
    text-decoration: none;
}
.btn{
    background-color: #F57005 !important;
    height: 40px;
    width: 130px;
    color: #fff !important;
    font-size: 16px !important;
    font-family: "Urbanist", serif !important;
    font-weight: 600 !important;
}