#testi{
    background-color: #121745;
    padding: 120px 0;
}
.testimonial-text h4{
    font-size: 24px;
    font-weight: 700;
    color: #4F5DE4;
    font-family: "Urbanist", serif;
    text-align: center;
}
.testimonial-text h3{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    font-family: "Urbanist", serif;
    text-align: center;
}
.testimain{
    margin-top: 108px;
    background-color: #121534 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 175px 0 39px 0;
}